quarkus:
  application:
    name: banking-demo
    version: 1.0.0-SNAPSHOT
#  http:
#    port: 8080
  smallrye-openapi:
    info-title: Banking API
    info-version: 1.0.0
    info-description: RESTful API for banking operations including account management, deposits, withdrawals, transfers, and transaction history
  devservices:
    enabled: false
  hibernate-orm:
    database:
      start-offline: true
    schema-management:
#      strategy: drop-and-create
      strategy: none
    log:
      sql: true
  datasource:
    db-kind: postgresql
    username: ${database-user:banking}
    password: ${database-password:banking}
    jdbc:
      url: jdbc:postgresql://${database-host:localhost}:5432/${database-name:banking_db}
#  native:
#    container-build: true
#    container-runtime: podman
  openshift:
    route:
      expose: true
      target-port: http
      tls:
        termination: edge
        insecure-edge-termination-policy: Redirect
    env:
      secrets: postgresql-secret
      configmaps: banking-config
    build-strategy: docker
    native-dockerfile: src/main/docker/Dockerfile.native-micro
    annotations:
      app.openshift.io/connects-to: '[{"apiVersion":"apps/v1","kind":"StatefulSet","name":"postgresql"}]'
    labels:
      app.kubernetes.io/part-of: banking-demo
  swagger-ui:
    always-include: true

"%prod":
  quarkus:
    swagger-ui:
      enabled: true
      path: docs

#"%prod":
#  quarkus:
#    openshift:
#      route:
#        expose: true
#      env:
#        secrets: postgresql-secret
#        configmaps: banking-config
#    datasource:
#      username: ${banking}
#      password: ${banking}
#      jdbc:
#        url: jdbc:postgresql://postgres:5432/banking_db

"%test":
  quarkus:
    devservices:
      enabled: true
    hibernate-orm:
      database:
        start-offline: true
      schema-management:
        strategy: drop-and-create

banking:
  title: ${BANKING_TITLE:Banking Quarkus}
