apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: banking-serverless
  namespace: bbva-quarkus-ii
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/min-scale: "0"
        autoscaling.knative.dev/target: "1"
        autoscaling.knative.dev/scale-to-zero-grace-period: "10s"
        autoscaling.knative.dev/scale-down-delay: "0s"
        autoscaling.knative.dev/window: "60s"
    spec:
      timeoutSeconds: 60
      containers:
        - image: image-registry.openshift-image-registry.svc:5000/bbva-quarkus-ii/banking-demo:1.0.0-SNAPSHOT
          ports:
            - containerPort: 8080
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          envFrom:
            - secretRef:
                name: postgresql-secret
            - configMapRef:
                name: banking-config
          volumeMounts:
            - name: large-files
              mountPath: /app/data
              readOnly: true
          readinessProbe:
            httpGet:
              path: /q/health/ready
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 2
            timeoutSeconds: 10
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
            terminationMessagePath: /dev/termination-log
          livenessProbe:
            httpGet:
              path: /q/health/live
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 2
            timeoutSeconds: 10
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "500m"
      volumes:
        - name: large-files
          persistentVolumeClaim:
            claimName: large-files-data
            readOnly: true